.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints/*
.Rproj
.DS_Store

# Outputs
Presentations/Intro/intro_pres.pdf
Presentations/Intro/intro_pres.tex
Presentations/Intro/intro_script.pdf
Presentations/Intro/intro_script.tex
Presentations/SST/SST_pres.pdf
Presentations/SST/SST_pres_cache/
Presentations/SST/SST_pres_files/
Presentations/SST/SST_pres_ttucker_edits.pdf
Presentations/SST/SST_pres_ttucker_edits_cache/
Presentations/SST/SST_pres_ttucker_edits_files/
Presentations/SST/texput.log
Presentations/Structural-Bayes/struct_ts_bayes.pdf
Presentations/Structural-Bayes/struct_ts_bayes.tex
Presentations/Structural-Bayes/struct_ts_bayes_script.pdf
Presentations/Structural-Bayes/struct_ts_bayes_script.tex
Presentations/Structural/struct_ts_pres.pdf
Presentations/Structural/struct_ts_pres.tex
Presentations/Structural/struct_ts_script.pdf
Presentations/Structural/struct_ts_script.tex
bayes-time-series.html
beamerthemednd.sty
bsts-level-0.pdf
bsts-level-0_cache/
bsts-level-0_files/
bsts-level-1.html
bsts-pres.pdf
outline/overall-outline.html